<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css')}}">
    <script src="{{ url_for('static',filename = 'script.js')}}"></script>
</head>
<body>


    {% if user %}
  
    <h1>{{ user }}</h1>

    {% endif %}
    <div id="cep"> </div>
    <div ><img src="static\img\Confirm.gif" alt="" srcset=""></div>
    <div ><img src="static\img\Medal.gif" alt="" srcset=""></div>
    <div ><img src="static\img\Lottie Lego.gif" alt="" srcset=""></div>
    <div ><img src="static\img\TMA Clock.gif" alt="" srcset=""></div>

    <div ><img src="static\img\Rockt1.gif" alt="" srcset=""></div>
    <div ><img src="static\img\Rockt2.gif" alt="" srcset=""></div>
    <form action="" method="post">
        <label for="nome" url=""></label>
        <input type="text" id="nome" name="nome" placeholder="Nome">
    </form>
</body>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/cep',
            type: 'GET',
            success: function(response){
                $('#cep').text(response)
            },
            error: function(error){
                console.log(error);
            }
        });
    });
</script>
</html>